* {
    margin:0 ;
    padding: 0;
    box-sizing:border;

}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none
}

body {
    font-family: sans-serif;
}

.page-header > .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;  
}

.container {
    max-width: 900px;
    margin: 0 auto;
    border: 3px solid black;
}

.cards-section > .container {
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.cards-section .card {
    
    border: 1px solid black;
    min-height: 140px;
    min-width: 200px;
    width: calc(100% / 3 - 1rem * 2 / 3); 
    flex-grow: 1;
}

.prize-monthly {
    text-align: center;
    margin: 10px
    
}

.sconto{
    text-align: center;
}

.plan {
    text-align: center;
    margin:10px
    

}

.card {
    padding: 10px;
}

.second-card {
    background-color: #6500FF ;
    color:white
}